<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iTechnology</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <!--Header Cabecera de la pagina-->
    <header>
        <div>
            <img src="../images/iTech_logo1.png" alt="iTech_logo1.png" width="196" height="183">
            <h1>íTechnology</h1>
        </div>
            
        <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                    <li><a href="./presupuesto.html">Presupuesto</a></li>
                    <li><a class="productoo" href="./productos.html">Producto</a></li>
                </ul>
                <form>
                    <input type="search" placeholder="Buscar">
                    <input type="submit" value="Go">
                </form>
        </nav>
    </header>
    <main>
        
        <!--Nuestra seccion de galeria-->
        <section>
            <h3>NUESTRA GALERIA</h3>
            <p>Bienvenidos a nuestra galeria de productos de la mejor tienda online iTechnology</p>
        </section>
        <section>
            <h4>Welcome in the world tech</h4>
            <div class="galeria">
                <div class="gal">
                    <img src="../images/Acer_portatil.jpg" alt="Acer" width="853" height="853">
                </div>
                <div class="gal">
                    <img src="../images/PC_HP_15S-EQ.jpg" alt="PC HP" width="853" height="853">
                </div>
                <div class="gal">
                    <img src="../images/PC_MSI_Raider.jpg" alt="PC MSI" width="853" height="853">
                </div>
                <div class="gal">
                    <img src="../images/PC_Samsung.jpg" alt="PS SAMSUNG" width="853" height="853">
                </div>
                <div class="gal">
                    <img src="../images/HP_portatil.jpg" alt="HP Portatíl" width="853" height="853">
                </div>
                <div class="gal">
                    <img src="../images/Promo1.jpg" alt="Promo1" width="708" height="236">
                </div>
                <div class="gal">
                    <img src="../images/Galaxy_A36.jpg" alt="Galaxy A36" width="853" height="853">
                </div>
                <div class="gal">
                    <img src="../images/Galaxy_S24.jpg" alt="Samsung S24" width="853" height="853">
                </div>
                <div class="gal">
                    <img src="../images/Galaxy.S24.jpg" alt="Samsung S24" width="853" height="853">
                </div>
                <div class="gal">
                    <img src="../images/iPhone_15_Plus.jpg" alt="iPhone 15 Plus" width="853" height="853">
                </div>
                <div class="gal">
                    <img src="../images/iPhone_16_Plus.jpg" alt="iPhone 16 plus" width="588" height="488">
                </div>
                <div class="gal">
                    <img src="../images/Motorola_G15.jpg" alt="Motorola" width="853" height="853">
                </div>
                <div class="gal">
                    <img src="../images/RealmiC71.jpg" alt="RealmiC71" width="853" height="853">
                </div>
                <div class="gal">
                    <img src="../images/Samsung.jpg" alt="SAMSUNG" width="853" height="853">
                </div>
                <div class="gal">
                    <img src="../images/Xiaomi.jpg" alt="Xiaomi" width="853" height="853">
                </div>
                <div class="gal">
                    <img src="../images/home3.jpg" alt="Home" width="1523" height="350">
                </div>
                <div class="gal">
                    <img src="../images/MOtorola_Edge.jpg" alt="Motorola" width="853" height="853">
                </div>
            </div>
        </section>
    </main>
        <!--FOOTER EL PIE DE LA PAGINA-->
     <footer>
        <!--Footer del bloque de los Servicios-->
        <div class="contenido-footer">
            <div>
                    <h3>Nuestros servicios</h3>
                    <ul class="lista-servicio">
                        <li><a href="#"></a>KIT DIGITAL</li>
                        <li><a href="#"></a>Servicio técnico</li>
                        <li><a href="#"></a>Reparación Portátiles</li>
                        <li><a href="#"></a>Reparación de Móviles</li>
                    </ul>
            </div>
            <!--Footer del bloque de los horarios-->
            <div>
                    <h3>Nuestros horarios</h3>
                    <ul class="lista-horario">
                        <li>✅Lunes 9:00-20:00</li>
                        <li>✅Martes 9:00-20:00</li>
                        <li>✅Miercol9:00-20:00</li>
                        <li>✅Jueves 9:00-20:00</li>
                        <li>✅Viernes 9:00-20:00</li>
                        <li>❌Sabado Cerrado</li>
                        <li>❌Sabado Cierra</li>
                    </ul>
            </div>
            <!--Footer del bloque de los Redes Sociales-->
            <div>
                    <h3>Nuestros Redes</h3>
                    <ul class="lista-redes">
                        <li><a href="https://es-es.facebook.com/"><img src="../images/facebook.jpg" alt="facebook" width="626" height="626" >Facebook</a></li>
                        <li><a href="https://www.instagram.com/"><img src="../images/instagram.jpg" alt="instagram" width="980" height="980">Instagram</a></li>
                        <li><a href="https://x.com/"><img src="../images/X.png" alt="x" width="750" height="500">Rede X</a></li>
                        <li><a href="https://www.tiktok.com/"><img src="../images/tiktok.png" alt="tik tok" width="920" height="920" >Tik Tok</a></li>
                        <li><a href="https://www.youtube.com/"><img src="../images/youtube.jpg" alt="youtube" width="1920" height="1920">Youtube</a></li>
                        <li><a href="https://web.whatsapp.com/"><img src="../images/Whatsapp.jpg" alt="WhatsApp" width="626" height="626">WhatsApp</a></li>
                    </ul>
            </div>
        </div>        
         <div class="privado">
            <p>&copy; 2025 iTechnology-Todos los derechos reservados</p>
        </div> 
    </footer>    
</body>
</html>